html {
    font-family: "Merriweather", serif;
}

body {
    margin: 0;
    background-color: black;
}

.section1 {
    width: 100%;
    background-image: url('../../images/morgana\ skin1.jpg');
    background-size: cover; /* Ajusta la imagen sin recortarla */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    mask-image: linear-gradient(black 80%, transparent);

}


.section2 {
    width: 100%;
    height: 1280px;
    background-image: url('../../images/morganaskin3.jpg');
    background-size: cover; /* Ajusta la imagen sin recortarla */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 92%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 96%, transparent);
}

.section3 {
    width: 100%;
    height: 850px;
    background-image: url('../../images/morganaskin2.png');
    background-size: cover; /* Ajusta la imagen sin recortarla */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    mask-image: linear-gradient(transparent, black 10%);
}

.section1::before, .section2::before, .section3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Oscurece el fondo */
    z-index: -2;
}


header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2rem 1rem;
    mask-image: linear-gradient(black 80%, transparent);
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    margin: 0;
    font-size: 3em;
}

.th {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.h2 {
    font-size: 1.5em;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 0.5rem 2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.h2-match {
    padding: 10px 0;
    text-align: center;
    color: white;
    width: 200px;
    margin: 0 auto;
    background-color: black;
    border-radius: 0.5rem;
}

.img-historia {
    mask-image: linear-gradient(black 80%, transparent);
    float: left;
    width: 370px;
    padding-left: 50px;
}

.left {
    float: left;
    width: 370px;
    padding-left: 50px;
}

.habi {
    font-size: 1.1rem;
    padding: 10px 0;
    color: white;
    border-radius: 0.5rem;
}

section article div img {
    padding: 10px 42px;
}

section article div p {
    width: 150px;
    text-align: center;
}

.info {
    color: white;
    margin-left: 480px;
    padding-top: 240px;
    padding-right: 10px;
    font-size: 1.8rem;
    height: 500px;
}
section table {
    padding-left: 30px;
    float: left;
}

.tabla{
    text-align: left;
    padding-left: 55px;
}

.pasiva, .Q, .W, .E, .R {
    color: white;
    font-size: 1.3rem;
    padding-top: 24px;
    width: 1200px;
}


.runas_ter {
    padding-left: 10px;
    padding-top: 0px;
}

.runas_bruj {
    padding-top: 17px;
}

.fila {
    text-align: left;
}

#mas {
    float: right;
    padding-right: 30px;
}

#mas th {
    font-size: 140%;
}

#mas td {
    text-align: center;
    /*border: solid 1px #adacac;*/
}

#wall {
    padding-left: 15%;
    float: none;
    padding-top: 40px;
}

#match {
    padding-left: 500px;
}

.fuerte-debil {
    color: white;
}

footer {
    background-color:rgb(0, 0, 0) ;
    padding: 1.5rem;
    color: white;
}

footer img {
    float: right;
}

footer p {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    font-size: 1.5em;
}